{% extends 'base.html.twig' %}

{% block title %}Edit UserGame{% endblock %}

{% block body %}
    <h1 class="title is-4 has-text-warning mb-4">Modifier Une Note</h1>

    {{ include('user_game/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
