{% extends 'base.html.twig' %}

{% block title %}Ajouter Une Note{% endblock %}

{% block body %}
    <h1>Ajouter Une Note</h1>

    {{ include('user_game/_form.html.twig') }}

    <a href="{{ path('app_user_game_index') }}">back to list</a>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const gameSelect = document.querySelector('#user_game_game');
            const platformsContainer = document.querySelector('#user_game_platform');

            gameSelect.addEventListener('change', () => {
                const gameId = gameSelect.value;
                if (!gameId) {
                    platformsContainer.innerHTML = '';
                    return;
                }

                fetch(`/api/game/${gameId}/platforms`)
                    .then(response => response.json())
                    .then(data => {
                        platformsContainer.innerHTML = '<option value=""></option>';
                        data.forEach(p => {
                            const id = `user_game_platforms_${p.id}`;

                            const option = document.createElement('option');
                            option.name = 'user_game[platforms][]';
                            option.value = p.id;
                            option.id = id;
                            option.textContent = `${p.name}`;

                            platformsContainer.appendChild(option);
                        });
                    });
            });
        });
    </script>
{% endblock %}