body {
    #background: #050000;
    #background: linear-gradient(90deg, rgba(5, 0, 0, 1) 0%, rgba(125, 78, 4, 1) 35%, rgba(255, 153, 0, 1) 100%);
    background-color: #1c1c1c;
    color: white;
    min-height: 100vh;
}

input,
textarea,
select {
    color: white;
    background-color: #1c1c1c;
}

textarea {
    min-height: 10em;
}

a {
    color: #ffae00;
    text-decoration: none;
    position: relative;
    font-weight: bold;
}

a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: #ffcb05;
    transition: width 0.3s ease;
}

a:hover::after {
    width: 100%;
    color: #ffcb05;
}

a:focus, a:hover {
    color: #ffcb05;
}

a.button :focus, a.button:hover {
    color: #ffffff;
}


button {
    display: inline-block;
    background: linear-gradient(90deg, #ff914d, #ff6f00);
    text-transform: uppercase;
}

button:hover {
    transform: scale(1.05);
}

.vis-item {
    background-color: #422d00;
    border-color: #ffae00;
}

.vis-item.vis-selected {
    background-color: #ffae00;
    border-color: #422d00;
}

.vis-item-content {
    overflow: visible !important;
}

.vis-item-content img {
    width: 60px !important;
    height: auto;
    max-width: none;
    object-fit: cover;
}

.nowrap {
    white-space: nowrap;
}

.user-game-show-comment {
    background: #a35702;
    padding: 0.75rem;
    border-left: 4px solid #ccc;
    border-radius: 4px;
}
